@import url("https://fonts.googleapis.com/css2?family=Onest:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Onest", sans-serif;
  list-style: none;
}

:root {
  --main-color: #0b141a;
  --header-color: #202c33;
  --btn-color: rgb(101, 202, 0);
  --btn-hover: rgb(76, 151, 0);
}

body {
  min-height: 100vh;
  background-color: var(--main-color);
  color: #fff;
}

/* Header */
header {
  background-color: var(--header-color);
  text-align: center;
}

#toggleButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin: 0.3rem 0;
}

/* Menu */
nav {
  display: none;
}

nav.active {
  display: block;
}

nav a {
  text-decoration: none;
  color: #fff;
}

nav a:hover {
  color: var(--btn-color);
}

#menu li {
  padding: 15px 0;
  font-size: 1.1rem;
}

/* Conversor */
main {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#binary-container, #decimal-container {
  background-color: var(--header-color);
  padding: 1.5rem 1rem;
  width: 350px;
}

#binary-container h2, #decimal-container h2 {
  margin-bottom: 1.5rem;
  text-align: center;
}

.input {
  display: flex;
  flex-direction: column;
}

.input label {
  margin-bottom: 0.2rem;
}

#binary, #decimal {
  margin-bottom: 1rem;
  padding: 0.7rem 0.5rem;
  outline: none;
}

.binary-btn, .decimal-btn {
  padding: 0.5rem;
  border: none;
  background-color: var(--btn-color);

  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
}

.binary-btn:hover, .decimal-btn:hover {
  background-color: var(--btn-hover);
  transition: 0.2s;
}

/* Conversor Binary */
#box-change {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--header-color);
  width: 350px;
  padding: 1rem 0;
  margin-bottom: 2rem;
  border-radius: 2rem;
}

#binary-toggle, #decimal-toggle {
  border-right: 1px solid #ccc;
  padding: 0 20px;
  text-align: center;
}

#binary-toggle {
  color: var(--btn-color);
}

#decimal-toggle {
  border: none;
}

#binary-toggle p:hover, #decimal-toggle p:hover {
  cursor: pointer;
  /* color: var(--btn-hover); */
}

/* Result Box */
#decimal-result, #binary-result {
  display: none;
  margin-top: 1.5rem;
}

#decimal-result span, #binary-result span {
  color: var(--btn-color);
}

/* Box active */
.active {
  display: none;
}

